.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 0 2.8rem;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 6px;
  background: #212832;
  cursor: pointer;
}
