.hero {
  padding-top: 76px;
  padding-bottom: 80px;
  &__body {
    display: flex;
    align-items: center;
  }
  &__content {
    width: 41%;
  }
  &__media {
    flex: 1;
    text-align: center;
  }
  &__box {
    position: relative;
  }
  &__heading {
    max-width: 500px;
  }
  &__heading--bold {
    color: #7264d6;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
  }
  &__desc {
    max-width: 54rem;
  }
  .search-form {
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    margin-top: 4rem;
    &__input {
      width: 100%;
      height: 100%;
      font-family: inherit;
      outline: none;
      border: none;
      padding-left: 23px;
      color: #696d76;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.75;
      padding-right: 1.5rem;
      border-radius: 8px 0 0 8px;
    }
    &__submit {
      min-width: 149px;
      flex-shrink: 0;
      height: 58px;
      margin: 8px 8px 8px 0;
      outline: none;
      border: none;
      background: #7264d6;
      cursor: pointer;
    }
  }
  &__law {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.72;
    margin-top: 2rem;
  }
  &-deposite {
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 20%;
    top: 20%;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 1rem;
    &__text {
      color: #31456a;
      font-size: 1.4rem;
      font-weight: 600;
    }
    &__money {
      color: #4ab5e3;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
  &-interest {
    width: 130px;
    height: 130px;
    background-color: #da6464;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 4.4rem;
    top: 20%;
    &__ratio {
      color: #fff;
      font-size: 4.4rem;
      font-weight: 600;
    }
    &__text {
      color: #fff;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
  &-funds {
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    padding: 2rem 1.5rem;
    display: inline-flex;
    position: absolute;
    bottom: 6.6rem;
    right: 19rem;
    gap: 0 1.1rem;
    &__content-icon {
      flex-shrink: 0;
      width: 100%;
    }
    &__content-money {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
    }
    &__content-text {
      color: #fff;
      font-size: 0.8rem;
      font-weight: 400;
      margin-top: 5px;
    }
  }
}
